* {
    margin: 0;
    padding: 0;
    font-family: 'pretendard-regular', sans-serif;
    font-style: normal;
}
#main-page {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#map {
    display: flex;
    width: 60%;
    height: 1000px;
}

#main-text {
    display: flex;
    font-weight: bold;
    width: 40%;
}
