@import url('https://fonts.googleapis.com/css2?family=Pretendard:wght@300;400;500;600;700&display=swap');
@import './colors.css';

* {
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
    font-style: normal;
}

.korea-map {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .map-container {
    padding: 10px;
    min-height: 400px;
  }
}
@media (max-width: 768px) {
  .map-container {
    padding: 4px;
    font-size: 0.95rem;
  }
}
@media (max-width: 480px) {
  .map-container {
    padding: 2px;
    font-size: 0.9rem;
  }
}