@import './colors.css';

.background {
  display: flex;
  justify-content: center;
  align-items: center;
}

.people-container {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  background-color: var(--bg-secondary);
  margin-top: 20px;
  gap: 1.5rem;
  justify-content: center;
  padding: 2rem 0;
  max-height: 80vh;      /* 고정 높이 */
  overflow-y: auto;      /* 세로 스크롤 */
}

.person-card {
  border: 1px solid #e5e7eb;
  border-radius: 0.75rem;
  padding: 1.5rem;
  background: #fff;
  width: 220px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person-img {
  
    width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 0%;
  margin-bottom: 1rem;
  
}

.person-name {
  margin: 0 0 0.5rem 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.person-job {
  margin: 0 0 0.5rem 0;
  font-weight: 600;
  font-size: 1rem;
}

.person-desc {
  margin: 0;
  color: #374151;
  font-size: 0.95rem;
}
.person-name-btn {
  background: none;
  border: none;
  color: #2563eb;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 0.5rem;
  transition: color 0.2s;
}
.person-name-btn:hover {
  color: #000000;
  text-decoration: underline;
}